.profile-23{

padding-top: 0vh; 
   /* border: 2px solid purple; */
    height: 98.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.center-2{
    margin-top: -1vh;
    font-size: 3rem;
}
.custom-file-upload{
    border: 2px solid black;
    width: 15rem;
    background-color: white;
    color: black;
    font-size: 1.1rem;
    border-radius: .5rem;
    text-align: center;
    padding: 1vh 0vh;
}
.profile-9{
    border-radius: 50%;
    height: 220px;
    width: 220px;
    margin: 1vh 1vh;
  }
  .margin-3{
    margin-top: 0vh;
  }
.custom-file-upload:hover{
    background-color: black;
    color: white;
}
.btn-15{
    background-color: black;
    color: white;
    width: 15rem;
    padding: 1vh 0vh;
    border-radius: .5rem;
    font-size: 1.1rem;
}
.btn-15:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
}
.font{
    font-family: "Nunito Sans", sans-serif;
}